<?xml version="1.0"?>
<flex-config xmlns="http://www.adobe.com/2006/flex-config">
  <swf-version>13</swf-version>
  <compiler>
    <source-path>
	  <path-element>../ane/api</path-element>
      <path-element>./src</path-element>
    </source-path>
    <debug>true</debug>
  </compiler>
  <include-sources includes="**/*">
	<path-element>../ane/api</path-element>
    <path-element>./src</path-element>
  </include-sources>
</flex-config>
