<?xml version="1.0"?>
<flex-config xmlns="http://www.adobe.com/2006/flex-config">
  <compiler>
    <source-path>
      <path-element>./src</path-element>
    </source-path>
    <external-library-path append="true">
			<path-element>../extension/build/NaHBox2D.ane</path-element>
		</external-library-path>
  </compiler>
</flex-config>
